.card {
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}

.center-align-text {
  text-align: center;
}

.seat-div {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #ececec;
  color: black;
  border-radius: 12px;
  text-align: center;
}

.car-card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.img-wrapper {
  width: 200px;
  height: 130px;
  padding: 0.5rem;
}
.filter-card {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
}
.filter-card label {
  font-size: 1.1rem;
  font-weight: 500;
}
.filter-types {
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.filter-types :hover {
  background-color: rgb(159, 238, 159) !important;
}
